@charset "utf-8";

/*Light*/
#Light .po{
    position: absolute;
}
#Light .title_index{
    left: 48px; top: 54px;
}
#Light .title_index .en{
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 9px 5px rgba(0,0,0,.3);
}
#Light .title_index .cn{
    font-size: 24px;
    color: #fff;
    text-shadow: 5px 9px 5px rgba(0,0,0,.3);
}

#Light .MapBox{
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%;
}
#Light .MapBox .map{
    position: absolute; left: 249px; top: 238px;
}

/*Btn*/
#Light .MapBox .btn{
    position: absolute; left: 59px;
    width: 105px; height: 56px;
    background: url("../../img/light/btn.png") no-repeat;
}
#Light .MapBox .btn span{
    margin-left: 55px; line-height: 56px;
    font-size: 18px; color: #666;
}
#Light .MapBox .btn.act{
    background: url("../../img/light/btn_act.png") no-repeat;
}
#Light .MapBox .btn.act span{
    color: #0075bb;
}
#Light .btnA{
    position: absolute; left: 59px;
    width: 146px; height: 56px;
    background: url("../../img/light/btn0.png") no-repeat;
}
#Light .btnA span{
    margin-left: 55px; line-height: 56px;
    font-size: 18px; color: #666;
}
#Light .btnA.act{
    background: url("../../img/light/btn0_act.png") no-repeat;
}
#Light .btnA.act span{
    color: #0075bb;
}

#Light .MapBox .btn_a{ top: 200px}
#Light .MapBox .btn_b{ top: 280px}
#Light .MapBox .btn_c{ top: 360px}
#Light .MapBox .btn_d{ top: 450px}
#Light .MapBox .btn_open{ top: 560px}
#Light .MapBox .btn_cls{ top: 640px}

/*Sub*/
#Light .SubA{
    position: absolute; left: 643px; top: 460px;
    width: 313px; height: 148px;
}
#Light .SubB{
    position: absolute; left: 500px; top: 322px;
    width: 134px; height: 276px;
}
#Light .SubC{
    position: absolute; left: 305px; top: 303px;
    width: 121px; height: 142px;
}
#Light .SubD{
    position: absolute; left: 305px; top: 473px;
    width: 121px; height: 135px;
}
#Light .MapBoxSub{
    position: absolute; left: 0px; top: 0px;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 9999;
}
#Light .MapBoxSub .tit{
    position: absolute; left: 300px; top: 150px;
    font-size: 60px;
    color: #04FAEC;
}

#Light .MapBoxSub .sub_1{ left: 300px; top: 280px;}
#Light .MapBoxSub .sub_2{ left: 600px; top: 280px;}
#Light .MapBoxSub .sub_3{ left: 300px; top: 380px;}
#Light .MapBoxSub .sub_4{ left: 600px; top: 380px;}
#Light .MapBoxSub .sub_5{ left: 300px; top: 480px;}